@use "../layout/util/" as u;

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff--primary);
  font-weight: var(--fw--regular);
  color: var(--clr--desaturated-red);
  background-image: var(--clr--gradient1);

  @include u.breakpoints(medium) {
    background: url(/images/bg-pattern-desktop.svg) no-repeat;
    background-size: cover;
  }
}
