@use "../layout/util/" as u;

.card {
  display: grid;
  min-height: 100vh;
  width: 100%;
  &__logo {
    display: grid;
    align-items: center;
    width: 100%;
    margin: 0 2rem;
    img {
      object-fit: cover;
    }
  }

  &__main {
    min-width: 300px;
    text-align: center;
    justify-items: center;
    display: grid;
    &_image {
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    &_info {
      max-width: 450px;
      margin: 0 1.5rem;
      h1 {
        margin-top: 3rem;
        text-transform: uppercase;
        line-height: 4rem;
        font-weight: var(--fw--regular);
        font-size: 3.5rem;
        span {
          font-weight: var(--fw--bold1);
          color: var(--clr--dark-grayish-red);
        }
      }

      p {
        margin: 2rem 0;
        font-weight: var(--fw--bold1);
      }

      form {
        position: relative;

        input {
          width: 100%;
          outline: none;
          border: none;
          border: 1px solid var(--clr--desaturated-red);
          border-radius: 2rem;
          padding: 0.8rem;
        }

        .errorImg {
          visibility: hidden;
          position: absolute;
          top: 15px;
          right: 100px;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s ease;
        }
        button {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          cursor: pointer;
          display: grid;
          place-items: center;
          width: 95px;
          border: none;
          background-image: var(--clr--gradient2);
          border-radius: 2rem;
          padding: 1rem;

          &:hover {
            opacity: 0.8;

            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
        .errorText {
          visibility: hidden;
          position: absolute;
          left: 0.8rem;
          color: var(--clr--soft-red);
          font-size: 1rem;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s ease;
        }

        .visible {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  @include u.breakpoints(medium) {
    display: grid;
    position: relative;
    min-width: 100vh;
    width: 100%;
    min-height: 100vh;

    &__logo {
      display: grid;
      justify-items: start;
      position: absolute;
      width: 60%;
      height: 50px;
      margin: 3rem;
      padding-left: 6%;
      padding-top: 5rem;
    }

    &__main {
      display: grid;
      justify-items: start;
      grid-template-columns: 60% 40%;
      width: 100%;

      &_image {
        order: 2;
      }
      &_info {
        max-width: 100%;
        display: grid;
        gap: 2rem;
        text-align: left;
        margin: auto 3rem;
        padding-left: 10%;
        order: 1;

        & > * {
          width: 400px;
        }

        h1 {
          font-size: 5rem;
          line-height: 5rem;
        }
        p {
          margin: 0;
          font-size: 1.3rem;
        }

        input {
          font-size: 1.3rem;
        }
      }
    }
  }
}
